<div class="ui fixed teal inverted large menu">
  <div class="item">
    <img src="/images/new-school.jpg">
  </div>
  <a class="ui item">
    Home
  </a>
  <a class="ui item">
    Notification
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
    <a class="ui item">
      Ying
    </a>
    <a class="ui item">
      Add Entry
    </a>
  </div>
</div>